<div *ngIf="status!=null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{status!.error.message}} - {{status!.message}}
    </div>
  </div>
</div>

<div *ngIf="status==null">
  <div class="d-flex justify-content-end mb-3">
    <h3>No active filter</h3>
    <h6>Showing {{oPage?.numberOfElements}} of total {{oPage?.totalElements}} vets.</h6>
  </div>
  <div class="flex justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
      [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>



<div class="container">
  <h2>Prueba tabla></h2>

  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th (click)="doOrder('id')">ID</th>
          <th class="col col-2" (click)="doOrder('name')">Name</th>
          <th (click)="doOrder('surname')">Surname</th>
          <th (click)="doOrder('email')">Email</th>
          <th (click)="doOrder('username')">Username</th>
          <th (click)="doOrder('dni')">DNI</th>
          <th (click)="doOrder('phone')">Phone</th>
          <th>Role</th>
          <th>Appointments</th>
          <th>Tools</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row" *ngFor="let u of oPage?.content" class="align-middle">
          <td>{{u.id}}</td>
          <td>{{u.name}}</td>
          <td>{{u.surname}}</td>
          <td>{{u.email}}</td>
          <td>{{u.username}}</td>
          <td>{{u.dni}}</td>
          <td>{{u.phone}}</td>
          <td>
            <span *ngIf="u.role==false">Admin</span>
            <span *ngIf="u.role==true">User</span>
          </td>
          <td>
            <a class="text-center" [routerLink]="['/cita','plist','byvet',u.id]" *ngIf="u.citas>0">{{u.citas}} </a>
            <span *ngIf="u.citas==0">0</span>
          </td>
          <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
              <button class="btn btn-primary" [routerLink]="['/veterinario','view',u.id]"><i
                  class="pi pi-eye"></i></button>
              <button class="btn btn-primary" (click)="doView(u)"><i class="pi pi-arrow-circle-up"></i></button>
              <button class="btn btn-warning" [routerLink]="['/veterinario','edit',u.id]"><i
                  class="pi pi-pencil"></i></button>
              <button *ngIf="u.citas==0" class="btn btn-danger" (click)="doRemove(u)"><i
                  class="pi pi-trash"></i></button>
            </div>
          </td>
        </tr>
      <tbody>
    </table>
  </div>
 