/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";
/* Para Bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* Para PrimeIcons */
@import "~primeicons/primeicons.css";

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
    font-weight: 500 !important;
}

table tr td a {
    text-decoration: none;
    font-size: larger;
}