<div class="container-fluid px-5">

  <div class="row align-items-start">
    <div class="col-xxl-12 text-center p-3 mt-2">
      <h1 class="title">Chachi Vet</h1>
      <h2 class="subtitle">Gestionzuela</h2>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-sm-9 " *ngIf="oSessionUser!=null">
      <app-user-cita-plist-unrouted [id_mascota]="id_mascota"
        (reply_change)="onReplyChange(true)"></app-user-cita-plist-unrouted>
    </div>
  </div>
  <div *ngIf="oSessionUser==null">
    <p>Prueba</p>
  </div>

</div>