<div class="container m-5">
  <div class="container-fluid px-0 mx-0">
    <div class="row g-0 align-items-start">
      <div class="col-12 bg-warning text-center p-3">
        <h1>PHOSPHORUM</h1>
        <small>light your thoughts</small>
      </div>
    </div>
    <div class="row g-0 align-items-start">
      <div class="col-xxl-4 col-xl-4 col-lg-4">
        gdfgdfg
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6">
        gdfgdf
      </div>
      <div class="col-xxl-2 col-xl-2 col-lg-2">
        <div class="card">
          <div class="card-header">
            Cosis en card
          </div>
          <div class="card-body">
            <div class="card">
              Cosis
            </div>
          </div>
        </div>
      </div>