<div class="card-container login-form ">
  <div class="container">
    <div class="log-card">

      <div class="col-12 mt-5">
        <div class="card">
          <div class="card-body">
            <div class="control-group text-center mt-3">
              <p class="lead">Do you really want to log out?</p>
              <div class="d-flex justify-content-center">

                <button class="btn btn-primary mx-2" (click)="logout()">Yes</button>
                <button class="btn btn-danger mx-2" (click)="cancel()">No</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>