.card-container {
    width: 450px;
    height: auto;
    position: relative;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  
  .log-card {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative; 
    width: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    padding: 20px;
    height: auto; 
    background-color: rgba(255, 255, 255, 0.781);
  }
  
  .text {
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 600;
    color: rgb(207, 122, 122);
    text-align: center;
  }
  
  .btn {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #2879f3;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
  }
  
  .btn:hover {
    background-color: #2e5c3569;

  }
  

  .button-group {
    text-align: center;
    margin-top: 20px; 
  }

  .out{
    background-color: #f32828d8;
  }



.fondo {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.fondo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../../../../../imgs/wallpaperflare.com_wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px); /* Ajusta el valor del desenfoque según tus preferencias */
}

.container-fluid {
  position: relative; /* Asegura que los elementos dentro del contenedor respeten la posición relativa */
}


.row {
  position: relative; /* Asegura que los elementos dentro de la fila respeten la posición relativa */
}

.col-xxl-12 {
  z-index: 1; /* Asegura que los elementos dentro de la columna estén encima del fondo */
}

.card {
  background-color: rgba(255, 255, 255, 0.781);
}