<div *ngIf="status!=null">
    <div class="d-flex justify-content-center my-3">
        <div class="alert alert-danger" role="alert">
            {{status!.error.message}} - {{status!.message}}
        </div>
    </div>
</div>

<div *ngIf="status==null">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
            <tr>
                <th>id</th>
                <td>{{oVet.id}}</td>
            </tr>
            <tr>
                <th>name</th>
                <td>{{oVet.name}}</td>
            </tr>
            <tr>
                <th>surname</th>
                <td>{{oVet.surname}}</td>
            </tr>
            <tr>
                <th>email</th>
                <td>{{oVet.email}}</td>
            </tr>
            <tr>
                <th>username</th>
                <td>{{oVet.username}}</td>
            </tr>
            <tr>
                <th>DNI</th>
                <td>{{oVet.dni}}</td>
            </tr>
            <tr>
                <th>phone</th>
                <td>{{oVet.phone}}</td>
            </tr>
            <tr>
                <th>role</th>
                <td>
                    <span *ngIf="oVet.role==true">Admin</span>
                    <span *ngIf="oVet.role==false">User</span>
                </td>
            </tr>
            <tr>
                <th>citas</th>
                <td>
                   <a [routerLink]="['cita','plist','byvet',oVet.id]"
                        *ngIf="oVet.citas>0">{{oVet.citas}}</a>
                    <span *ngIf="oVet.citas==0">0</span>
                </td>
            </tr>

        </tbody>
    </table>
</div>